{{define "title"}}<title>MyRabbitMQ Blog/ Index</title>{{end}}
{{define "body"}}
<div class="container content">
	<div class="row">
		<div class="col-lg-9">
			<div class="page-header">
				<h1>MyRabbitMQ Test</h1>
				<div class="actions rAlign">
					<a href="/messages/new" >Send Message</a>
				</div> <!-- page-header -->
			</div>
			<div class="posts">
					{{range $key,$value := . }}
						<div class="post">
							<div class="title">
								<h4>Message {{$key}}</h4>
							</div>
							<div class="post-body">
								{{$value.Message}}
							</div>
							<div class="post-footer">
								<span class="timestamps">
									Created at: {{$value.ReceivedAt}},
								</span>
							</div>
		     		</div>
					{{end}}
				</table>
			</div> <!-- post -->
		</div> <!-- col-lg-9 -->
	</div><!--/row-->
</div> <!-- /container -->
{{end}}
