{{define "title"}}<title>MyRabbitMQ Blog/ Add</title>{{end}}
{{define "body"}}

<div class="container content">
	<div class="row">
		<div class="col-lg-9">
			<div class="page-header">
				<h1>Send Message</h1>
			</div>
      <form class="form-horizontal post" id="new_post" action="/messages/send" method="post">
        <p>Message:<br>
            <textarea rows="4" cols="50" name="message"></textarea>
        </p>
        <p>
            <input type="submit" value="Submit"/>
            <div class='actions rAlign'>
              <a href="/posts">Cancel</a>
            </div>
        </p>
      </form>
		</div> <!-- col-lg-9 -->
	</div><!--/row-->
</div> <!-- /container -->


{{end}}
